<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.fcmapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FCMApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.fat.searchresult.SearchResultFatActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.fdt.searchresult.SearchResultFdtActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.other.repairlist.RepairListActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.location.LocationActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.fat.fatdetail.FatDetailActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.other.companyprofile.CompanyProfileActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.fdt.more.MoreFatCoveredActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.fdt.fdtdetail.FdtDetailActivity"
            android:theme="@style/clearScreen.blueDim" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/clearScreen.blueLoch" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:theme="@style/clearScreen.blueLoch" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/clearScreen.blueLoch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/clearScreen.blueDim" />
    </application>

</manifest>